:root {
  --theme-bg-color: #0d1117;
  --theme-mono-lisa: #ff8e8e;
  --theme-science-blue: #076dcb;
  --theme-bunker: #404e67;
  --theme-klein-blue: #000102;

  --white: #fff;
  --black: #000;
  --tab-text-color: #000;
  --content-bg-color: #fbf1f1;
  --soft-content-bg-color: #ececec;
  --sidemenu-bg-color: #0d1117;
  --sidewindow-bg-color: #fff;
  --sidewindow-border-color: transparent;
  --sidemenu-header-border-color: #fff;
  --widget-text-color: #000;
  --active-bg-color: #1f383e;
  --active-tab-bg-color: #076dcb;
  --active-link-badge-color: #3b90a5;

  --menu-bg-hover: #1e2631;
  --menu-text-hover: #fff;

  --button-bg-color: #1d2530;
  --current-menu-bg-color: #1d2530;
  --current-menu-text-color: #fff;
  --button-border-color: #1d2530;
  --line-bg-color: #d6d6d6;
  --soft-line-bg-color: #262626;

  --black-text-color: #000;
  --light-text-color: #fff;
  --button-text-color: #fff;
  --icon-default-color: #fff;
  --soft-text-color: #d1d1d1;
  --default-icon-color: #d1d1d1;

  --dark-icon-color: #000;
  --ligth-icon-color: #fff;
  --soft-icon-color: #aca8a8;

  --input-bg-color: #fbf1f1;
  --placeholder-color: #aca8a8;

  --login-sidebar-bg-color: #0d3b66;
  --login-title-text-color: #566b8a;

  --note-header-bg-color: #f7dc59;
  --note-footer-bg-color: #f7dc59;
  --note-content-bg-color: #ffea83;

  --alert-bg-color: #60bf82;
}

[data-texture="skulls"] {
  --content-bg-texture: var(--content-bg-color) url("https://www.transparenttextures.com/patterns/skulls.png");
}
[data-texture="white-leather"] {
  --content-bg-texture: var(--content-bg-color) url("https://www.transparenttextures.com/patterns/white-leather.png");
}
[data-texture="flowers"] {
  --content-bg-texture: var(--content-bg-color) url("https://www.transparenttextures.com/patterns/flowers.png");
}
[data-texture="xv"] {
  --content-bg-texture: var(--content-bg-color) url("https://www.transparenttextures.com/patterns/xv.png");
}

[data-theme="dark"] {
  --theme-bg-color: #0d1117;
  --active-bg-color: #0d1117;
  --content-bg-color: #0d1117;
  --soft-content-bg-color: #0d1117;
  --sidewindow-bg-color: #0d1117;
  --sidewindow-border-color: #30363d;
  --sidemenu-header-border-color: #30363d;
  --tab-text-color: #fff;
  --widget-text-color: #fff;
  --widget-card-border-color: #d1d1d1;
  --sidebar-border-color: #30363d;

  --note-header-bg-color: #fff;
  --note-footer-bg-color: #fff;
  --note-content-bg-color: #fff;
}

[data-theme="mona-lisa"] {
  --theme-bg-color: #ff8e8e;
  --active-bg-color: #ff8e8e;
  --sidemenu-bg-color: #ff8e8e;
  --button-bg-color: #ff8e8e;
  --button-border-color: #ff8e8e;
  --active-link-badge-color: #fff;
  --active-tab-bg-color: #912f56;
  --widget-text-color: #000;
  --widget-card-border-color: #ff8e8e;

  --current-menu-bg-color: #912f56;
  --menu-bg-hover: #912f56;
  --soft-line-bg-color: #d6d6d6;
  --light-text-color: #fff;
  --soft-text-color: #fff;
}

[data-theme="bunker"] {
  --theme-bg-color: #404e67;
  --active-bg-color: #404e67;
  --sidemenu-bg-color: #404e67;
  --widget-text-color: #000;
  --widget-card-border-color: #404e67;
  --soft-line-bg-color: #1f383e;
  --button-bg-color: #404e67;
  --button-border-color: #404e67;
  --active-tab-bg-color: #404e67;
}

[data-theme="science-blue"] {
  --theme-bg-color: #076dcb;
  --active-bg-color: #076dcb;
  --sidemenu-bg-color: #076dcb;
  --button-bg-color: #076dcb;
  --button-border-color: #076dcb;
  --soft-line-bg-color: #d1d1d1;
  --active-tab-bg-color: #076dcb;
  --light-text-color: #fff;
  --widget-text-color: #000;
  --widget-card-border-color: #076dcb;
  --current-menu-bg-color: #2b99ff;
  --menu-bg-hover: #2b99ff;
  --active-link-badge-color: #fff;
}

[data-theme="klein-blue"] {
  --theme-bg-color: #05299e;
  --active-bg-color: #05299e;
  --sidemenu-bg-color: #05299e;
  --button-bg-color: #05299e;
  --button-border-color: #05299e;
  --active-tab-bg-color: #05299e;
  --soft-line-bg-color: #d1d1d1;
  --soft-text-color: #fff;
  --light-text-color: #fff;
  --widget-text-color: #000;
  --current-menu-bg-color: #2b99ff;
  --menu-bg-hover: #2b99ff;
  --active-link-badge-color: #fff;
}

[data-theme="day-light"] {
  --theme-bg-color: #f8f8f8;
  --active-bg-color: #f8f8f8;
  --button-bg-color: #fff;
  --soft-line-bg-color: #d1d1d1;
  --sidemenu-bg-color: #000;
  --current-menu-bg-color: #000;
  --button-border-color: #000;
  --button-text-color: #000;
  --light-text-color: #000;
  --icon-default-color: #000;
  --active-tab-bg-color: #000;

  --menu-bg-hover: #000;
  --menu-text-hover: #fff;
  --widget-text-color: #000;
  --widget-card-border-color: #d1d1d1;
  --current-menu-bg-color: #2b99ff;
  --active-link-badge-color: #3ac2e4;
  --soft-text-color: #000;

  // & .m-content {
  //   background: var(--content-bg-color)
  //     url("https://www.transparenttextures.com/patterns/skulls.png");
  // }
}
