:root {
  --theme-bg-color: #0d1117;
  --theme-mono-lisa: #ff8e8e;
  --theme-science-blue: #076dcb;
  --theme-bunker: #1f383e;

  --white: #fff;
  --black: #000;
  --content-bg-color: #fbf1f1;
  --soft-content-bg-color: #ececec;
  --active-bg-color: #1f383e;
  --active-tab-bg-color: #076dcb;
  --active-link-badge-color: #3b90a5;

  --button-bg-color: #3e4d63;
  --line-bg-color: #d6d6d6;
  --soft-line-bg-color: #262626;

  --black-text-color: #000;
  --light-text-color: #fff;
  --soft-text-color: #d1d1d1;

  --dark-icon-color: #000;
  --ligth-icon-color: #fff;
  --soft-icon-color: #aca8a8;

  --input-bg-color: #fbf1f1;
  --placeholder-color: #aca8a8;

  --login-sidebar-bg-color: #0d3b66;
  --login-title-text-color: #566b8a;
}
